@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

.App {
  text-align: center;
}

h1 {
  font-size: 4.5rem;
  font-style: italic;
  font-family: 'Supermercado One', cursive;
}

.searchBox {
  font-size: larger;
  font-weight: normal;
  width: 390px;
  padding: 10px 25px;
  margin-bottom: 25px;
  outline: none;
  border: 2px solid tomato;
  border-radius: 50px;
  text-align: center;
  background: rgb(228, 228, 228);
}

.grid-container {
  margin: 0 auto;
}

.img {
  list-style: none;
  margin-left: 5px;
  cursor: pointer;
}

.img-preview {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
